user-management-t5-btitouknzf/user-management-t5-btitouknzf-domain/src/test/resources/META-INF/test_data.dtd

<!ELEMENT dataset (
     t_userinfo*,
     t_userrole*)>
 
<!ELEMENT t_userinfo EMPTY>
<!ATTLIST t_userinfo
     COL0 CDATA #IMPLIED
     COL1 CDATA #REQUIRED
     COL2 CDATA #IMPLIED >
 
<!ELEMENT t_userrole EMPTY>
<!ATTLIST t_userrole
     COL0 CDATA #REQUIRED
     COL1 CDATA #IMPLIED >